
@import '~vuetify/src/stylus/main'
// global
body
  overflow hidden
main
  background-color #F5F5F5

// flex.styl
.flex
  display flex
.flex-x 
  @extend .flex
  flex-direction row
.flex-y
  @extend .flex
  flex-direction column

.align-center
  align-items center
.justify-between
  justify-content space-between
.justify-around
  justify-content space-around

.flex-x-between
  @extend .flex-x
  @extend .justify-between
  @extend .align-center
.flex-x-around
  @extend .flex-x
  @extend .justify-around
  @extend .align-center

// button.styl
.v-btn
  font-size 10px

// text.styl 
.noSelect
  -webkit-touch-callout none
  -webkit-user-select none
  -khtml-user-select none
  -moz-user-select none
  -ms-user-select none
  user-select none