
@import '~vuetify/src/stylus/main'
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed')

html, body 
  font-family 'Roboto Condensed', sans-serif

#main-app {
  font-family: 'Roboto Condensed', sans-serif;
}
// global
body
  overflow hidden

main
  background-color #F5F5F5


// flex.styl
.flex
  display flex
.flex-x 
  @extend .flex
  flex-direction row
.flex-y
  @extend .flex
  flex-direction column

.align-center
  align-items center
.justify-between
  justify-content space-between
.justify-around
  justify-content space-around

.flex-x-between
  @extend .flex-x
  @extend .justify-between
  @extend .align-center
.flex-x-around
  @extend .flex-x
  @extend .justify-around
  @extend .align-center

// button.styl


// text.styl 
.no-select
  -webkit-touch-callout none
  -webkit-user-select none
  -khtml-user-select none
  -moz-user-select none
  -ms-user-select none
  user-select none

// card.styl
.v-card
  height 100%
  width 100%
  margin 0

// border.styl
.border-blue
  border-top('blue')

// mixins folder
border-top(color)
  border-top 2px solid color !important